* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background-color: rgb(35, 34, 39);
  user-select: none; 
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #9ece00 1.18%, #76ff4c 100%);
  color: black;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
  font-weight: 800;
  letter-spacing: 0.2;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  user-select: text; 
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90deg, #9ece00 1.18%, #76ff4c 100%);
  color: black;
  font-weight: 800;
  border: none;
  cursor: pointer;
  width: 300px;
  margin: auto;
  height: 50px;
}

img {
  width: 400px;
  height: 350px;
  border: 2px solid gold;
  display: flex;
  margin: auto;
  /* Disable all mouse events on the image */
  pointer-events: none;
}

.meme--text {
  position: absolute;
  cursor: grab;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.meme--text:active {
  cursor: grabbing;
}

.bottom {
  top: 500px;
}

.top {
  top: 210px;
}
